# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# files specific to automake
Makefile
config.cache
config.h
config.log
config.status
docs/Makefile
docs/glib-config.1
glib-config
glib.pc
glibconfig-sysdefs.h
glibconfig.h
gmodule.pc
gmodule/Makefile
gmodule/gmoduleconf.h
gthread.pc
gthread/Makefile
libtool
stamp-h
tests/Makefile
.libs/
gmodule/.libs/
gmodule/testgmodule
gthread/.libs/
gthread/testgthread
stamp-gc-h
testgdate
testgdateparser
testglib
tests/.libs/
tests/array-test
tests/dirname-test
tests/hash-test
tests/list-test
tests/node-test
tests/relation-test
tests/slist-test
tests/strfunc-test
tests/string-test
tests/tree-test
tests/type-test
docs/gtk-config.1
gdk.pc
gtk+.pc
gtk-config
intl/po2tbl.sed
po/Makefile.in
po/POTFILES
